$backgroundcolor323a47: #323A47;
$backgroundcolor444444: #444444;
$backgroundcolor4890bc: #4890BC;
$backgroundcolor828487: #828487;
$backgroundcolorE8e8e8: #E8E8E8;
$backgroundcolorFfffff: #FFFFFF;
$backgroundcolorWhite: white;
$backgroundimageHttpdatadoingbydesigncoms3amazonawscom_imagesarticlebackgroundpng: "http://data.doingbydesign.com.s3.amazonaws.com/_images/articlebackground.png";
$backgroundrepeatRepeat: repeat;
$class_Article: article;
$class_Articletitle0: articleTitle0;
$class_Articletitle1: articleTitle1;
$class_Articletop: articleTop;
$class_Author: author;
$class_Autowidth: autoWidth;
$class_Caption: caption;
$class_Categorythumb: categoryThumb;
$class_Chapter: chapter;
$class_Chapternavigation: chapterNavigation;
$class_Chaptertitle0: chapterTitle0;
$class_Chaptertitle1: chapterTitle1;
$class_Classsource: classSource;
$class_Eightcol: eightCol;
$class_Fbsharebutton: fb-share-button;
$class_Featuredimages: featuredImages;
$class_Featureditem: featuredItem;
$class_Featuredsummary: featuredSummary;
$class_Featuredtexts: featuredTexts;
$class_First: first;
$class_Footnote: footnote;
$class_Footnotes: footnotes;
$class_Fourcol: fourCol;
$class_H2: h2;
$class_Imageblock: imageBlock;
$class_Label: label;
$class_Last: last;
$class_Lead: lead;
$class_Level: level;
$class_Menu: menu;
$class_Mobilechapternavigation: mobileChapterNavigation;
$class_Name: name;
$class_Row: row;
$class_Socialmedia: socialMedia;
$class_Svgdemo: svgDemo;
$class_Twelvecol: twelveCol;
$class_Twittersharebutton: twitter-share-button;
$clearBoth: both;
$clearNone: none;
$color1f1f1f: #1F1F1F;
$color202020: #202020;
$color323a47: #323A47;
$color4080d0: #4080D0;
$color4890be: #4890be;
$color60: +60%;
$color601: -60%;
$color6294d0: #6294D0;
$color66696c: #66696C;
$color828487: #828487;
$color888: #888;
$color888888: #888888;
$colorB2b4b7: #B2B4B7;
$colorE1e1e1: #E1E1E1;
$colorE8e8e8: #E8E8E8;
$colorGreen: green;
$colorWhite: white;
$cursorPointer: pointer;
$displayBlock: block;
$displayInline: inline;
$displayInlineblock: inline-block;
$displayNone: none;
$floatLeft: left;
$floatNone: none;
$floatRight: right;
$fontfamilyBentonsanscondmedium: "BentonSansCond Medium";
$fontfamilyBentonsansre: "BentonSansRE";
$fontfamilyCourier: Courier;
$fontsize080em: 0.80em;
$fontsize090em: 0.90em;
$fontsize110em: 1.10em;
$fontsize120em: 1.20em;
$fontsize13: 13px;
$fontsize140em: 1.40em;
$fontsize150em: 1.50em;
$fontsize180em: 1.80em;
$fontsize220em: 2.20em;
$fontsize250em: 2.50em;
$fontsize2em: 2em;
$fontsize320em: 3.20em;
$fontstyleItalic: italic;
$fontweightBold: bold;
$fontweightNormal: normal;
$height26: 26px;
$height36: 36px;
$heightAuto: auto;
$left0: 0px;
$lineheight110em: 1.10em;
$lineheight120em: 1.20em;
$lineheight140em: 1.40em;
$lineheight150em: 1.50em;
$lineheight160em: 1.60em;
$lineheight1em: 1em;
$liststylepositionInside: inside;
$liststyletypeDecimal: decimal;
$liststyletypeDisc: disc;
$liststyletypeNone: none;
$margin0: 0px;
$margin050em: 0.50em;
$marginbottom0: 0px;
$marginbottom020em: 0.20em;
$marginbottom030em: 0.30em;
$marginbottom050em: 0.50em;
$marginbottom080em: 0.80em;
$marginbottom1em: 1em;
$marginleft0: 0px;
$marginleft050em: 0.50em;
$marginright0: 0px;
$marginright050em: 0.50em;
$marginright0em: 0em;
$marginright18: 1.8%;
$margintop0: 0px;
$margintop020em: 0.20em;
$margintop030em: 0.30em;
$margintop040em: 0.40em;
$margintop050em: 0.50em;
$margintop1em: 1em;
$maxwidth1140: 1140px;
$maxwidth50: 50%;
$minheight1: 1px;
$minwidth0: 0px;
$minwidth755: 755px;
$overflowHidden: hidden;
$padding0: 0px;
$padding030em: 0.30em;
$padding050em: 0.50em;
$padding10: 10px;
$paddingbottom0: 0px;
$paddingbottom050em: 0.50em;
$paddingleft0: 0px;
$paddingleft050em: 0.50em;
$paddingleft1em: 1em;
$paddingleft20: 20px;
$paddingleft2em: 2em;
$paddingright0: 0px;
$paddingright050em: 0.50em;
$paddingright20: 20px;
$paddingtop050em: 0.50em;
$paddingtop0_60: 0_60;
$paddingtop120em: 1.20em;
$paddingtop1em: 1em;
$positionAbsolute: absolute;
$positionRelative: relative;
$textalignCenter: center;
$textdecorationNone: none;
$textindent0: 0px;
$textindent2em: 2em;
$top0: 0px;
$top050em: -0.50em;
$top39: 39px;
$verticalalignBaseline: baseline;
$verticalalignMiddle: middle;
$verticalalignTop: top;
$width100: 100%;
$width16: 16%;
$width20: 20%;
$width30: 30%;
$width40: 40%;
$width56: 56px;
$width65: 65%;
$width8: 8%;
$widthAuto: auto;

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, logo, section {
    display: block;
}
a { text-decoration: none;
    img {
    border: 0; }
}
figure {
    position: relative; }

// Solve the difference between IE, Safari, Mozilla and Opera for 100% and auto image widths.
// Make the img of class "autowidth" to get the function working.
// http://www.webmonkey.com/2010/02/browser-specific_css_hacks/
// IE (default, as there is no clear way to determine IE now)
img.autowidth { width:100%; }
// Mozilla
@-moz-document url-prefix() {
    img.autowidth { max-width: 100%; width:100%; }
}
// Webkit
@media screen and (-webkit-min-device-pixel-ratio:0) {
    img.autowidth { max-width: 100%; width:auto; }
}
// Opera
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
    img.autowidth { max-width: 100%; width:100%; }
}

/* CSS Enhancements for Better User Experience */
html {
    overflow-y:scroll;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
/* Brakes Text for Mobile */
.page-break {
    page-break-before:always;
}
input[type=submit], label, select, .pointer {
    cursor:pointer;
}
/* Hack */
@media all and (-webkit-min-device-pixel-ratio: 1){
    selectors {
        properties: values;
    }
}

body { 
    font-family: $fontfamilyBentonsansre;
    font-size: $fontsize13;
    background-color: $backgroundcolorFfffff;
    line-height: $lineheight140em;
} 
h1, h2, h3, h4, h5, p.lead { 
    font-family: $fontfamilyBentonsanscondmedium;
} 
h6 { 
    font-family: $fontfamilyBentonsansre;
} 
a, a:link { 
    color: $color888888;
} 
a:visited { 
    color: $color60;
} 
a:hover { 
    color: $color601;
} 
div.oneCol { 
    float: $floatLeft;
    width: $width8;
    margin: $margin050em;
} 
div.twoCol { 
    float: $floatLeft;
    width: $width16;
    margin: $margin050em;
} 
div.fourCol { 
    float: $floatLeft;
    width: $width30;
    margin: $margin050em;
} 
div.eightCol { 
    float: $floatLeft;
    width: $width65;
    margin: $margin050em;
} 
div.twelveCol { 
    float: $floatLeft;
    width: $width100;
    margin: $margin050em;
} 
div.last { 
    margin-right: $marginright0em;
} 
ul { 
    display: $displayBlock;
} 
li { 
    display: $displayBlock;
} 
ol { 
    list-style-type: $liststyletypeDecimal;
} 

/* Start page "index" */
div.mobileNavigation { /* .container, .mobileNavigation */
    padding-left: $paddingleft0;
    
    margin-left: $marginleft0;
    background-color: $backgroundcolor323a47;
    margin-right: $marginright0;
    display: $displayNone;
    div.row { 
        padding-left: $paddingleft0;
        min-width: $minwidth0;
        
        overflow: $overflowHidden;
        padding-right: $paddingright0;
        margin: 0px auto;
        div.twelveCol { 
            padding-left: $paddingleft050em;
            
            float: $floatNone;
            width: $widthAuto;
            margin-left: $marginleft050em;
            margin-right: $marginright050em;
            padding-right: $paddingright050em;
            #nav-wrap { 
                z-index: 1000;
                width: $width30;
                display: $displayInlineblock;
                #menu-icon { 
                    
                    color: $colorWhite;
                    top: $top0;
                    padding-top: $paddingtop0_60;
                    height: $height26;
                    cursor: $cursorPointer;
                    width: $width56;
                    font-size: $fontsize13;
                    margin-right: $marginright0;
                    display: $displayInlineblock;
                    left: $left0;
                    img { 
                        vertical-align: $verticalalignMiddle;
                        max-width: $maxwidth50;
                        height: $heightAuto;
                        padding: $padding0;
                        margin: $margin0;
                    } 
                } /* #menu-icon */
                #nav { 
                    z-index: 2000;
                    clear: $clearBoth;
                    top: $top39;
                    display: $displayNone;
                    padding: $padding0;
                    width: $width100;
                    text-align: $textalignCenter;
                    background-color: $backgroundcolor828487;
                    position: $positionAbsolute;
                    margin: $margin0;
                    list-style-type: $liststyletypeNone;
                    left: $left0;
                    a { 
                        color: $colorE8e8e8;
                        li { 
                            list-style-type: $liststyletypeNone;
                            border-bottom: 1 solid white  ;
                            padding-top: $paddingtop120em;
                            height: $height36;
                            width: $width100;
                            background-color: $backgroundcolor4890bc;
                        } 
                    } 
                } 
            } 
            a { 
                color: $colorWhite;
            } 
            a:hover { 
                color: $color888;
            } 
        } /* twelveCol */
    } /* row */
} 
div.header { /* .container, .header */
    
    padding-left: $paddingleft20;
    padding-right: $paddingright20;
    display: $displayBlock;
    div.row { 
        max-width: $maxwidth1140;
        
        min-width: $minwidth755;
        width: $width100;
        overflow: $overflowHidden;
        margin: 0px auto;
        color: $color323a47;
        float: $floatLeft;
        div.fourCol { 
            margin-bottom: $marginbottom0;
            
            margin-left: $marginleft0;
            margin-right: $marginright18;
            margin-top: $margintop0;
                /* @@@ Warning: redefine of existing selector */
            a { 
                vertical-align: $verticalalignTop;
                color: $color323a47;
                font-size: $fontsize150em;
                line-height: $lineheight150em;
            } 
        } /* fourCol */
        div.last { /* .eightCol, .last */
            
            #navigation-wrap { 
                float: $floatRight;
                width: $width100;
                font-size: $fontsize150em;
                margin: $margin0;
                display: $displayInline;
                ol { 
                    display: $displayBlock;
                    li { 
                        padding: $padding10;
                        float: $floatRight;
                        a { 
                            color: $color4890be;
                            padding: $padding030em;
                            text-decoration: $textdecorationNone;
                        } 
                    } 
                } 
            } 
        } /* eightCol last */
    } /* row */
} /* header */

div.featuredImages { /* .container, .featuredImages */
    
    padding-left: $paddingleft20;
    background-color: $backgroundcolor323a47;
    padding-right: $paddingright20;
    display: $displayBlock;
    div.row { 
        max-width: $maxwidth1140;
        
        min-width: $minwidth755;
        width: $width100;
        overflow: $overflowHidden;
        margin: 0px auto;
        div.eightCol { 
            padding-left: $paddingleft0;
            float: $floatLeft;
            min-height: $minheight1;
            
            margin-left: $marginleft0;
            margin-right: $marginright18;
            margin-top: $margintop1em;
            display: $displayBlock;
        } /* eightCol */
        div.last { /* .fourCol, .last */
            padding-left: $paddingleft0;
            
            margin-top: $margintop1em;
            h2 { 
                color: $color828487;
                margin-bottom: $marginbottom050em;
                font-size: $fontsize220em;
                margin-top: $margintop030em;
            } 
            a.name { 
                
                h2 { 
                    color: $colorE1e1e1;
                    margin-bottom: $marginbottom020em;
                    font-size: $fontsize180em;
                    line-height: $lineheight110em;
                    margin-top: $margintop0;
                    display: $displayBlock;
                } 
            } 
                /* @@@ Warning: redefine of existing selector */
            a.name { 
                
                img { 
                    float: $floatLeft;
                    padding: $padding0;
                    width: $width40;
                    margin: 0.50em 0.50em 0px 0px;
                } 
            } 
            h5.level { 
                
                color: $color6294d0;
                font-weight: $fontweightBold;
                font-size: $fontsize090em;
                margin-top: $margintop050em;
            } 
            a.author { 
                
                h5 { 
                    color: $colorB2b4b7;
                    font-weight: $fontweightNormal;
                    font-size: $fontsize120em;
                    display: $displayBlock;
                    line-height: $lineheight140em;
                } 
            } 
        } /* fourCol last */
    } /* row */
} /* featured */

div.featuredTexts { /* .container, .featuredTexts */
    
    padding-left: $paddingleft20;
    background-color: $backgroundcolorE8e8e8;
    padding-right: $paddingright20;
    display: $displayBlock;
    div.row { 
        max-width: $maxwidth1140;
        
        min-width: $minwidth755;
        width: $width100;
        overflow: $overflowHidden;
        margin: 0px auto;
        div.eightCol { 
            padding-left: $paddingleft0;
            
            margin-top: $margintop1em;
            a.name { 
                
                h2 { 
                    color: $color66696c;
                    margin-bottom: $marginbottom020em;
                    font-size: $fontsize320em;
                    line-height: $lineheight1em;
                    margin-top: $margintop0;
                    display: $displayBlock;
                } 
            } 
            h5.level { 
                
                color: $color6294d0;
                font-weight: $fontweightBold;
                font-size: $fontsize090em;
                line-height: $lineheight140em;
                margin-top: $margintop050em;
            } 
            a.author { 
                
                h5 { 
                    color: $color828487;
                    font-weight: $fontweightNormal;
                    font-size: $fontsize120em;
                    display: $displayBlock;
                    line-height: $lineheight140em;
                } 
            } 
            div.featuredSummary { 
                float: $floatLeft;
                
                color: $color202020;
                clear: $clearBoth;
                margin-bottom: $marginbottom050em;
                width: $width100;
                font-size: $fontsize120em;
                line-height: $lineheight140em;
                margin-top: $margintop040em;
            } 
        } /* eightCol */
        div.last { /* .fourCol, .last */
            padding-left: $paddingleft0;
            
            margin-top: $margintop1em;
            a.categoryThumb { 
                
                h5 { 
                    color: $color828487;
                    font-weight: $fontweightNormal;
                    font-size: $fontsize090em;
                    line-height: $lineheight120em;
                    margin-top: $margintop1em;
                    display: $displayBlock;
                } 
            } 
            a.name { 
                
                h2 { 
                    color: $color4080d0;
                    margin-bottom: $marginbottom020em;
                    font-weight: $fontweightNormal;
                    font-size: $fontsize140em;
                    line-height: $lineheight120em;
                    margin-top: $margintop020em;
                    display: $displayBlock;
                } 
            } 
        } /* fourCol last */
    } /* row */
} /* featured */

/* End page "index" */

/* Start page "article" */

div.article { /* .container, .article */
    
    background-repeat: $backgroundrepeatRepeat;
    padding-left: $paddingleft20;
    background-image: url($backgroundimageHttpdatadoingbydesigncoms3amazonawscom_imagesarticlebackgroundpng);
    padding-right: $paddingright20;
    display: $displayBlock;
    div.row { 
        max-width: $maxwidth1140;
        
        min-width: $minwidth755;
        width: $width100;
        overflow: $overflowHidden;
        margin: 0px auto;
        div.eightCol { 
            padding-left: $paddingleft0;
            
            margin-top: $margintop1em;
            div.articleTop { 
                
                float: $floatLeft;
                padding-top: $paddingtop050em;
                width: $width100;
                h2.articleTitle0 { 
                    color: $color66696c;
                    margin-bottom: $marginbottom020em;
                    
                    font-size: $fontsize320em;
                    line-height: $lineheight120em;
                    display: $displayBlock;
                } 
                h3.chapterTitle0 { 
                    color: $color1f1f1f;
                    
                    margin-top: $margintop1em;
                    margin-bottom: $marginbottom050em;
                    font-size: $fontsize150em;
                } 
            } /* articleTop */
                /* @@@ Warning: redefine of existing selector */
            div.articleTop { 
                
                float: $floatLeft;
                padding-top: $paddingtop050em;
                width: $width100;
                h2.articleTitle1 { 
                    color: $color66696c;
                    margin-bottom: $marginbottom020em;
                    
                    font-size: $fontsize2em;
                    line-height: $lineheight120em;
                    display: $displayBlock;
                } 
                h3.chapterTitle1 { 
                    
                    margin-top: $margintop1em;
                    margin-bottom: $marginbottom050em;
                    font-size: $fontsize250em;
                } 
            } /* articleTop */
            div.svgDemo { 
                
                margin-bottom: $marginbottom1em;
            } 
            div.chapter { 
                color: $color202020;
                
                h2 { 
                    color: $color828487;
                    padding-top: $paddingtop1em;
                    padding-bottom: $paddingbottom0;
                    font-size: $fontsize2em;
                    line-height: $lineheight140em;
                } 
                h3 { 
                    padding-top: $paddingtop1em;
                    padding-bottom: $paddingbottom0;
                    font-size: $fontsize2em;
                    line-height: $lineheight140em;
                } 
                p { 
                    line-height: $lineheight160em;
                    font-size: $fontsize120em;
                    text-indent: $textindent2em;
                    sup.footnote { 
                        font-size: $fontsize080em;
                        
                        top: $top050em;
                        vertical-align: $verticalalignBaseline;
                        position: $positionRelative;
                    } 
                    em { 
                        font-weight: $fontweightBold;
                    } 
                } 
                p.first { 
                    
                    text-indent: $textindent0;
                } 
                p.lead { 
                    color: $color828487;
                    margin-bottom: $marginbottom030em;
                    
                    font-size: $fontsize180em;
                    text-indent: $textindent0;
                    line-height: $lineheight120em;
                    sup.footnote { 
                        font-size: $fontsize080em;
                        
                        top: $top050em;
                        vertical-align: $verticalalignBaseline;
                        position: $positionRelative;
                    } 
                    em { 
                        font-weight: $fontweightBold;
                    } 
                } 
                blockquote { 
                    font-style: $fontstyleItalic;
                    color: $color828487;
                    padding: 0.50em 10px;
                    border-left: solid 4px #CCC;
                    line-height: $lineheight140em;
                    margin: 1.50em 10px;
                } 
                pre { 
                    padding-left: $paddingleft1em;
                    margin-bottom: $marginbottom050em;
                    padding-top: $paddingtop050em;
                    font-family: $fontfamilyCourier;
                    padding-bottom: $paddingbottom050em;
                    font-size: $fontsize120em;
                    background-color: $backgroundcolorWhite;
                    margin-top: $margintop050em;
                } 
                div.imageBlock { 
                    margin-bottom: $marginbottom080em;
                    
                    margin-top: $margintop1em;
                    div.caption { 
                        font-style: $fontstyleItalic;
                        
                        font-size: $fontsize090em;
                        margin-top: $margintop050em;
                    } 
                } 
                ul { 
                    padding-left: $paddingleft2em;
                    list-style-position: $liststylepositionInside;
                    list-style-type: $liststyletypeDisc;
                    margin-bottom: $marginbottom0;
                    margin-top: $margintop1em;
                    li { 
                        margin-bottom: $marginbottom1em;
                    } 
                } 
                ol { 
                    list-style-type: $liststyletypeDecimal;
                    padding-left: $paddingleft2em;
                    margin-bottom: $marginbottom0;
                    margin-top: $margintop1em;
                    list-style-position: $liststylepositionInside;
                    li { 
                        margin-bottom: $marginbottom1em;
                    } 
                } 
            } 
        } /* eightCol */
        div.fourCol { 
            padding-left: $paddingleft0;
            
            margin-top: $margintop1em;
            div.socialMedia { 
                width: $width100;
                float: $floatLeft;
                display: $displayBlock;
                
                #twitter { 
                    float: $floatLeft;
                    margin-right: $marginright050em;
                } 
                #fb-root { 
                    float: $floatLeft;
                    margin-right: $marginright050em;
                } 
                div.fb-share-button { 
                    
                    float: $floatLeft;
                } 
            } 
        } /* fourCol */
            /* @@@ Warning: redefine of existing selector */
        div.fourCol { 
            padding-left: $paddingleft0;
            
            margin-top: $margintop1em;
            div.footnotes { 
                
                margin-bottom: $marginbottom050em;
                h4 { 
                    font-size: $fontsize110em;
                } 
            } /* footnotes */
            div.mobileChapterNavigation { 
                
                margin-bottom: $marginbottom050em;
                display: $displayNone;
                ul { 
                    li { 
                        background-color: $backgroundcolor444444;
                        a { 
                            color: $colorWhite;
                            h2 { 
                                padding: $padding050em;
                                line-height: $lineheight120em;
                                margin-top: $margintop020em;
                                margin-bottom: $marginbottom020em;
                                font-size: $fontsize2em;
                            } 
                        } 
                    } 
                } 
            } /* mobileChapterNavigation */
            div.chapterNavigation { 
                
                margin-bottom: $marginbottom050em;
                h4 { 
                    font-size: $fontsize110em;
                } 
                ul { 
                    li { 
                        a { 
                            h2 { 
                                line-height: $lineheight120em;
                                margin-top: $margintop040em;
                                margin-bottom: $marginbottom020em;
                                font-size: $fontsize120em;
                            } 
                        } 
                    } 
                } 
            } /* chapterNavigation */
        } /* fourCol */
        div.last { /* .fourCol, .last */
            padding-left: $paddingleft0;
            
            margin-top: $margintop1em;
            a.categoryThumb { 
                
                h5 { 
                    color: $color828487;
                    font-weight: $fontweightNormal;
                    font-size: $fontsize090em;
                    line-height: $lineheight120em;
                    margin-top: $margintop1em;
                    display: $displayBlock;
                } 
            } 
            a.name { 
                
                h2 { 
                    color: $color4080d0;
                    margin-bottom: $marginbottom020em;
                    font-weight: $fontweightNormal;
                    font-size: $fontsize140em;
                    line-height: $lineheight120em;
                    margin-top: $margintop020em;
                    display: $displayBlock;
                } 
            } 
        } /* fourCol last */
    } /* row */
} /* container */

/* End page "article" */

/* Start page "products" */
div.itemGroup { /* .container, .itemGroup */
    
    padding-left: $paddingleft20;
    padding-right: $paddingright20;
    display: $displayBlock;
    div.row { 
        
        width: $width100;
        div.itemGroup0 { /* .item, .itemGroup0 */
            clear: $clearBoth;
            float: $floatLeft;
            width: $width20;
            
            div.last { /* .nineCol, .last */
                padding-left: $paddingleft0;
                float: $floatLeft;
                min-height: $minheight1;
                
                margin-left: $marginleft0;
                margin-right: $marginright18;
                margin-top: $margintop1em;
                display: $displayBlock;
            } /* nineCol last */
        } /* item */
        div.itemGroup1 { /* .item, .itemGroup1 */
            clear: $clearNone;
            float: $floatLeft;
            width: $width20;
            
            div.last { /* .nineCol, .last */
                padding-left: $paddingleft0;
                float: $floatLeft;
                min-height: $minheight1;
                
                margin-left: $marginleft0;
                margin-right: $marginright18;
                margin-top: $margintop1em;
                display: $displayBlock;
            } /* nineCol last */
        } /* item */
        div.itemGroup2 { /* .item, .itemGroup2 */
            clear: $clearNone;
            float: $floatLeft;
            width: $width20;
            
            div.last { /* .nineCol, .last */
                padding-left: $paddingleft0;
                float: $floatLeft;
                min-height: $minheight1;
                
                margin-left: $marginleft0;
                margin-right: $marginright18;
                margin-top: $margintop1em;
                display: $displayBlock;
            } /* nineCol last */
        } /* item */
        div.itemGroup3 { /* .item, .itemGroup3 */
            clear: $clearNone;
            float: $floatLeft;
            width: $width20;
            
            div.last { /* .nineCol, .last */
                padding-left: $paddingleft0;
                float: $floatLeft;
                min-height: $minheight1;
                
                margin-left: $marginleft0;
                margin-right: $marginright18;
                margin-top: $margintop1em;
                display: $displayBlock;
            } /* nineCol last */
        } /* item */
        div.itemGroup4 { /* .item, .itemGroup4 */
            clear: $clearNone;
            float: $floatLeft;
            width: $width20;
            
            div.last { /* .nineCol, .last */
                padding-left: $paddingleft0;
                float: $floatLeft;
                min-height: $minheight1;
                
                margin-left: $marginleft0;
                margin-right: $marginright18;
                margin-top: $margintop1em;
                display: $displayBlock;
            } /* nineCol last */
        } /* item */
    } /* row */
} /* itemGroup */

/* End page "products" */

/* Start page "courses" */


/* End page "courses" */

/* Start page "category" */

/* End page "category" */

/* Start page "documentation" */
div.documentation { /* .container, .documentation */
    
    padding-left: $paddingleft20;
    padding-right: $paddingright20;
    display: $displayBlock;
    div.row { 
        max-width: $maxwidth1140;
        
        min-width: $minwidth755;
        width: $width100;
        overflow: $overflowHidden;
        margin: 0px auto;
        div.label { 
            
            h3 { 
                font-size: $fontsize150em;
                span.classSource { 
                    color: $colorGreen;
                    
                } 
            } 
        } 
        h2.h2 { 
            color: $color202020;
            
            font-size: $fontsize2em;
        } 
    } /* row */
} /* documentation */

/* End page "documentation" */

@media all and (max-width:767px) {
    /* Initialized @media */
    div.featuredImages { 
        div.featuredByImage { 
                display: $displayNone;
        } 
        div.featuredByDiapText { 
                display: $displayNone;
        } 
    } 
    div.featuredTexts { 
        div.featuredByText { 
                display: $displayNone;
        } 
        div.featuredByTextList { 
                display: $displayNone;
        } 
    } 
    div.footer { 
            display: $displayNone;
    } 
    div.article { 
        div.socialMedia { 
                display: $displayNone;
        } 
        div.featuredByTextList { 
                display: $displayNone;
        } 
    } 
    div.footer { 
            display: $displayNone;
    } 
    div.itemGroup { 
        div.featuredByImage { 
                display: $displayNone;
        } 
    } 
    div.footer { 
            display: $displayNone;
    } 
    div.featuredImages { 
        div.featuredByImage { 
                display: $displayNone;
        } 
        div.featuredByDiapText { 
                display: $displayNone;
        } 
    } 
    div.footer { 
            display: $displayNone;
    } 
    div.footer { 
            display: $displayNone;
    } 
    div.footer { 
            display: $displayNone;
    } 
    /* Runtime @media */
    div.mobileNavigation {
            display: $displayBlock;
    }
    div.header {
            padding-left: $paddingleft0;
            min-width: $minwidth0;
            width: $width100;
            padding-right: $paddingright0;
            display: $displayNone;
    }
    div.header div.row {
            padding-left: $paddingleft0;
            min-width: $minwidth0;
            width: $width100;
            padding-right: $paddingright0;
            margin: $margin0;
            display: $displayBlock;
    }
    div.featuredImages {
            padding-left: $paddingleft0;
            min-width: $minwidth0;
            width: $width100;
            padding-right: $paddingright0;
            display: $displayBlock;
    }
    div.featuredImages div.row {
            padding-left: $paddingleft0;
            min-width: $minwidth0;
            width: $width100;
            padding-right: $paddingright0;
            margin: $margin0;
            display: $displayBlock;
    }
    div.featuredImages div.row div.eightCol {
            padding-left: $paddingleft050em;
            float: $floatNone;
            width: $widthAuto;
            margin-left: $marginleft0;
            margin-right: $marginright0;
            padding-right: $paddingright050em;
            display: $displayBlock;
    }
    div.featuredImages div.row div.last {
            padding-left: $paddingleft050em;
            float: $floatNone;
            width: $widthAuto;
            margin-left: $marginleft0;
            margin-right: $marginright0;
            padding-right: $paddingright050em;
            display: $displayBlock;
    }
    div.featuredImages div.row div.last a.name img {
            display: $displayNone;
    }
    div.featuredTexts {
            padding-left: $paddingleft0;
            min-width: $minwidth0;
            width: $width100;
            padding-right: $paddingright0;
            display: $displayBlock;
    }
    div.featuredTexts div.row {
            padding-left: $paddingleft0;
            min-width: $minwidth0;
            width: $width100;
            padding-right: $paddingright0;
            margin: $margin0;
            display: $displayBlock;
    }
    div.featuredTexts div.row div.eightCol {
            padding-left: $paddingleft050em;
            float: $floatNone;
            width: $widthAuto;
            margin-left: $marginleft0;
            margin-right: $marginright0;
            padding-right: $paddingright050em;
            display: $displayBlock;
    }
    div.featuredTexts div.row div.last {
            padding-left: $paddingleft050em;
            float: $floatNone;
            width: $widthAuto;
            margin-left: $marginleft0;
            margin-right: $marginright0;
            padding-right: $paddingright050em;
            display: $displayBlock;
    }
    div.article {
            padding-left: $paddingleft0;
            min-width: $minwidth0;
            width: $width100;
            padding-right: $paddingright0;
            display: $displayBlock;
    }
    div.article div.row {
            padding-left: $paddingleft0;
            min-width: $minwidth0;
            width: $width100;
            padding-right: $paddingright0;
            margin: $margin0;
            display: $displayBlock;
    }
    div.article div.row div.eightCol {
            padding-left: $paddingleft050em;
            float: $floatNone;
            width: $widthAuto;
            margin-left: $marginleft0;
            margin-right: $marginright0;
            padding-right: $paddingright050em;
            display: $displayBlock;
    }
    div.article div.row div.fourCol {
            padding-left: $paddingleft050em;
            float: $floatNone;
            width: $widthAuto;
            margin-left: $marginleft0;
            margin-right: $marginright0;
            padding-right: $paddingright050em;
            display: $displayBlock;
    }
    div.article div.row div.fourCol div.socialMedia {
            display: $displayNone;
    }
    div.article div.row div.fourCol div.mobileChapterNavigation {
            display: $displayBlock;
    }
    div.article div.row div.fourCol div.chapterNavigation {
            display: $displayNone;
    }
    div.article div.row div.last {
            padding-left: $paddingleft050em;
            float: $floatNone;
            width: $widthAuto;
            margin-left: $marginleft0;
            margin-right: $marginright0;
            padding-right: $paddingright050em;
            display: $displayBlock;
    }
    div.itemGroup {
            padding-left: $paddingleft0;
            min-width: $minwidth0;
            width: $width100;
            padding-right: $paddingright0;
            display: $displayBlock;
    }
    div.itemGroup div.row div.itemGroup0 {
            padding-left: $paddingleft0;
            float: $floatNone;
            min-width: $minwidth0;
            width: $widthAuto;
            padding-right: $paddingright0;
            margin: $margin0;
            display: $displayBlock;
    }
    div.itemGroup div.row div.itemGroup0 div.last {
            padding-left: $paddingleft050em;
            float: $floatNone;
            width: $widthAuto;
            margin-left: $marginleft0;
            margin-right: $marginright0;
            padding-right: $paddingright050em;
            display: $displayBlock;
    }
    div.itemGroup div.row div.itemGroup1 {
            padding-left: $paddingleft0;
            float: $floatNone;
            min-width: $minwidth0;
            width: $widthAuto;
            padding-right: $paddingright0;
            margin: $margin0;
            display: $displayBlock;
    }
    div.itemGroup div.row div.itemGroup1 div.last {
            padding-left: $paddingleft050em;
            float: $floatNone;
            width: $widthAuto;
            margin-left: $marginleft0;
            margin-right: $marginright0;
            padding-right: $paddingright050em;
            display: $displayBlock;
    }
    div.itemGroup div.row div.itemGroup2 {
            padding-left: $paddingleft0;
            float: $floatNone;
            min-width: $minwidth0;
            width: $widthAuto;
            padding-right: $paddingright0;
            margin: $margin0;
            display: $displayBlock;
    }
    div.itemGroup div.row div.itemGroup2 div.last {
            padding-left: $paddingleft050em;
            float: $floatNone;
            width: $widthAuto;
            margin-left: $marginleft0;
            margin-right: $marginright0;
            padding-right: $paddingright050em;
            display: $displayBlock;
    }
    div.itemGroup div.row div.itemGroup3 {
            padding-left: $paddingleft0;
            float: $floatNone;
            min-width: $minwidth0;
            width: $widthAuto;
            padding-right: $paddingright0;
            margin: $margin0;
            display: $displayBlock;
    }
    div.itemGroup div.row div.itemGroup3 div.last {
            padding-left: $paddingleft050em;
            float: $floatNone;
            width: $widthAuto;
            margin-left: $marginleft0;
            margin-right: $marginright0;
            padding-right: $paddingright050em;
            display: $displayBlock;
    }
    div.itemGroup div.row div.itemGroup4 {
            padding-left: $paddingleft0;
            float: $floatNone;
            min-width: $minwidth0;
            width: $widthAuto;
            padding-right: $paddingright0;
            margin: $margin0;
            display: $displayBlock;
    }
    div.itemGroup div.row div.itemGroup4 div.last {
            padding-left: $paddingleft050em;
            float: $floatNone;
            width: $widthAuto;
            margin-left: $marginleft0;
            margin-right: $marginright0;
            padding-right: $paddingright050em;
            display: $displayBlock;
    }
    div.documentation {
            padding-left: $paddingleft0;
            min-width: $minwidth0;
            width: $width100;
            padding-right: $paddingright0;
            display: $displayBlock;
    }
    div.documentation div.row {
            padding-left: $paddingleft0;
            min-width: $minwidth0;
            width: $width100;
            padding-right: $paddingright0;
            margin: $margin0;
            display: $displayBlock;
    }
}
