body div.homeHeader div.row div.twelveCol h3 {font-size: 2em;
    padding-top:0.5em; padding-bottom:1em;}
body div.homeHeader div.row div.twelveCol h1 {font-size: 3em; padding-bottom:0.8em;}
body div.homeBanners div.row div.sixCol h2 {
    font-size: 2em; padding-top: 0.25em; padding-bottom:0.5em;} 